<div class="reset-password">
	<div class="wrapper">

		<form 
		  [formGroup]="resetPasswordForm" 
		  (ngSubmit)="onSubmit()" 
		  class="reset-password-form form-box"
		  novalidate>

		  <h3>Reset Your Password</h3>

		  <div class="field form-group">
		    <label>Enter new password</label>
		    <input 
		      type="password" 
		      class="form-control" 
		      required
		      name="password"
		      formControlName="password"
		    >
		  </div>

		  <div class="submit align-center">
		    <button 
		      type="submit" 
		      class="button button-large"
		      [class.loading]="loading"
		      [disabled]="!this.resetPasswordForm.valid || loading">
		      Reset Password
		    </button>
		  </div> 

		</form>
	</div>
</div>
