<div class="subscriptions-public">
    <div class="hero">
        <div class="masking">
            <div class="wrapper clear">
                <div class="span6">
                    <h1>Subscriptions</h1>
                    <p>ThreadLab Subscriptions offers the best of both worlds - ultimate convenience with zero commitment.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="module subscriptions parallax">
        <div class="wrapper">
            <h2>The Ultimate Convenience</h2>
            <ol class="reset clear">
                <li class="span4">
                    <h3>100% Flexible</h3>
                    <p>Our subscription plans are flexible - starting at $39/order up to $299/order and can be tailored to your desired frequency - monthly, bi-monthly, quarterly and more.</p>
                </li>
                <li class="span4">  
                    <h3>Order Previews</h3>
                    <p>We also send an Order Preview before we ship that can be edited or canceled for a full refund at any point.</p>
                </li>
                <li class="span4">
                    <h3>Super Customer-Friendly</h3>
                    <p>Subscriptions offer free shipping and 365 days to return/exchange. Refunds will be applied to ThreadLab Credit (with no expiration) and will be automatically applied to future orders.</p>
                </li>
            </ol>
            <p>With ThreadLab Subscriptions you no longer have to worry about shopping, you're never on the hook to receive a box of clothes you don't need, and you'll always get a sneak peek with an Order Preview to better control the items that your receive.</p>
            <app-get-started-cta [user]="currentUser"></app-get-started-cta>
        </div>
    </div>
</div>
