<nav aria-label="breadcrumb" class="breadcrumbs">
  <div class="wrapper">
    <ol class="breadcrumb">
      <li *ngIf="homeLink['link']" class="breadcrumb-item">
        <a routerLink="{{ homeLink['link'] }}">{{ homeLink.title }}</a>
      </li>
      <li *ngIf="!homeLink['link']" class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>


      <li 
        *ngFor="let breadcrumb of breadcrumbs; let last = last;"
        class="breadcrumb-item"
      >         
        <span *ngIf="last">{{ breadcrumb['label'] }}</span>
        <a [routerLink]="[breadcrumb['url'], breadcrumb['params']]" *ngIf="!last">{{ breadcrumb['label'] }}</a>
      </li>
    </ol>
  </div>
</nav>
