<div class="module experience parallax">
  <div class="wrapper">
    <h2>A Better Clothing Experience</h2>
    <ul class="reset clear">
      <li class="span4">
        <i class="fa fa-coffee fa-large"></i>
        <h3>Great clothes, easy prices</h3>
        <p>Rest comfortably knowing the clothes you get from ThreadLab are great quality, made by reputable brands, and priced to make buying them an easy choice.</p>
      </li>
      <li class="span4">
        <i class="fa fa-binoculars fa-large"></i>
        <h3>Selected for you</h3>
        <p>
          When you place an order, using the profile you create at sign up, and any feedback you share with us, we find the clothes that are made for your preferences and budget.
        </p>
      </li>
      <li class="span4">
        <i class="fa fa-magic fa-large"></i>
        <h3>Picked to fit like magic</h3>
        <p>
          Using your sizing and order feedback, each time you order, our system picks the clothes that fit you best. Never again worry about the confusing sizes different brands use.
        </p>
      </li>
    </ul>
  </div>
</div>
