<div class="module benefits parallax">
    <div class="wrapper">
        <h2>The Benefits of ThreadLab</h2>

        <ol class="reset clear">
            <li class="span6">
                <div class="content">
                    <h3>Truly Personalized</h3>
                    <p>Every shipment is unique and we email you an online Order Preview that you can edit before we ship.</p>
                </div>
            </li>
            <li class="span6">
                <div class="content">
                    <h3>365 Free Shipping &amp; Returns</h3>
                    <p>We cover the shipping both ways and allow up to 365 days to return products.</p>
                </div>
            </li>
            <li class="span6">
                <div class="content">
                    <h3>No Minimums</h3>
                    <p>ThreadLab charges no styling fee and there is no minimum spend required. Return any items for a full refund with zero risk and no hassle.</p>
                </div>
            </li>
            <li class="span6">
                <div class="content">
                    <h3>Flexible</h3>
                    <p>Order on demand any time you need, or set up a schedule. No pressure and no subscription required.</p>
                </div>
            </li>
            <li class="span6">
                <div class="content">
                    <h3>Perfect Fit Guarantee</h3>
                    <p>We will find you the optimal brands, sizes and fits for your unique body type.</p>
                </div>
            </li>
            <li class="span6">
                <div class="content">
                    <h3>50 + Awesome Brands</h3>
                    <p>We source from both large well known brands like Calvin Klein and Tommy Hilfiger and smaller start-up brands like Pistol Lake and Jumper Threads.</p>
                </div>
            </li>
        </ol>
        
    </div>
</div>
