<div class="checkout confirm">
  <div class="wrapper">

    <h1>Thank you for your order</h1>

    <div class="row">
      <div class="span3 col-a">
        <img class="" src="{{ assetUrl + '/assets/images/screens/order-preview.png' }}">
      </div>
      <div class="span9 col-b">
        <h3>What happens next?</h3>
        <p>We'll hand pick you some awesome new threads! Within one business day, you'll receive an email from us with a link to your Order Preview so that you can see the items we've hand selected for you.  Simply review the order and approve it to be shipped!</p>

        <div class="form-box align-center">
          <h4>Refer and Save Now</h4>
          <p>In the meantime you can share ThreadLab and earn store credit.</p>
          <a class="button button-orange" routerLink="/account/referrals">Refer Friends &amp; Family <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </div>
    
<div
  id="refcandy-popsicle"
  data-app-id="jo6f4uuu03r4290hhp6greydx"
  data-fname="John"
  data-lname="Smith"
  data-email="service@mythreadlab.com"
  data-amount="10.99"
  data-currency="USD"
  data-timestamp="1517885117"
  data-external-reference-id="93211001"
  data-signature="8ef02ccd63b8013a47566f5d58fa0ed9"
></div>

    <app-script-loader src="{{ assetUrl + '/assets/scripts/referral-candy-purchase.js' }}" type="text/javascript"></app-script-loader>
  </div>
</div>
