<div class="account subscriptions">
  <div class="wrapper">
    <h3>Success!  Subscription Added</h3>

    <h4>What Happens Next?</h4>
    <p>We'll hand pick you some awesome new threads! You will receive an order preview on the start date of your subscription so that you can see the items we've hand selected for you.  Simply review the order and approve it to be shipped!</p>

    <div class="row">
      <div class="span7">
        <div 
          *ngIf="subscription"
          class="toggle-item"
          [class.notes]="subscription.customer_notes && !subscription.customer_notes.$"
        >
          <header class="row">
            <div class="span4">
              <span class="header">Start Date</span><br/>
              {{ subscription.current_period_started_at._ | date: 'MM/dd/yyyy' }}
            </div>
            <div class="span4">
              <span class="header">Budget</span><br/>
              {{ subscription.unit_amount_in_cents._ | dollars }}
            </div>
            <div class="span4">
              <span class="header">Status</span><br/>
              {{ subscription.state }}
            </div>
          </header>

          <div class="row">
            
            <div class="span12">
              <div class="content">
                <div class="row">
                  <div class="span4">
                    <img src="{{ assetUrl + subscription.box.imagePathAlt }}">
                  </div>
                  <div class="span8">
                    <h4>{{ subscription.plan.name }}</h4>
                    <p>
                      {{ subscription.plan_interval_display_string }}<br/>
                      ({{ subscription.box.description }})
                    </p>

                    <div *ngIf="subscription.customer_notes && !subscription.customer_notes.$" class="note">
                      <h5>My Notes</h5>
                      <em>{{ subscription.customer_notes }}</em>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="span5">
        <div class="form-box align-center">
          <h4>Refer and Save Now</h4>
          <p>In the meantime you can share ThreadLab and earn store credit, win prizes and much more!</p>
          <a class="button button-orange" routerLink="/account/referrals">Refer Friends &amp; Family <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </div>


  </div>
</div>
