<form class=""
  [formGroup]="giftCardForm" 
  (ngSubmit)="onSubmit(giftCardForm.value)" 
  novalidate>
  <div class="row">
    <div class="field form-group col-a">
      <input
        type="text" 
        class="form-control"
        name="code"
        placeholder=""
        formControlName="code"
      >
    </div>
    <div class="col-b">
      <button class="button button-orange"
        [class.loading]="isDisabled"
        [disabled]="!giftCardForm.valid || isDisabled"
      >
        Redeem Gift Card
      </button>
    </div>
  </div>
</form>
