<div class="how-it-works experiment">
    <div class="hero">
        <div class="masking">
            <div class="wrapper clear">
                <div class="span7">
                    <h1>How ThreadLab Works</h1>
                    <p>ThreadLab's unique technology makes personal shopping for men more than just easy, it makes it low-cost.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="plain-bg">
    	<app-steps [user]="currentUser"></app-steps>
    </div>

    <div class="gray-bg">
        <app-experience></app-experience>
        <app-get-started-cta [user]="currentUser"></app-get-started-cta>
    </div>
</div>
