<div class="modal-header">
  <h4 class="modal-title">Reset Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	<app-reset-password-request-form></app-reset-password-request-form>
</div>
<div class="modal-footer">
  <button 
  	type="submit"
  	[disabled]="!resetPasswordRequestForm.resetPasswordRequestForm.valid" 
  	class="button button-orange" 
  	(click)="activeModal.close(resetPasswordRequestForm)"
  >
  	Submit
  </button>
</div>
