<div id="affiliates">
  <h1>The ThreadLab Affiliate Program</h1>
  <div class="wrapper">
    <div class="clear">
      <div class="span8">
        <p>If you love the convenience and hassle-free experience of ThreadLab, we would be pumped if you would spread the word about our service. You can now earn commission dollars for every customer you refer to ThreadLab.</p>
        <p>We've just launched our Affiliate Program through the Pepperjam platform. Pepperjam makes it super easy to receive payments and track referrals commissions any time you refer new customers.</p>

        <h3>Benefits Include:</h3>
        <ul>
          <li>Cash payouts when your friends schedule their first order</li>
          <li>Additional cash payouts on subsequent orders</li>
          <li>We truly appreciate your support and are excited to invite you to join our Affiliate Program!</li>
        </ul>
      </div>
      <div class="span4">
        <img src="{{ assetUrl + '/assets/images/brandingPhotos/box-open-watermark-2-shrunk.jpg' }}" />
      </div>
    </div>
    
    <p>Click below to sign up with our affiliate partner, <a href="https://www.pepperjamnetwork.com/affiliate/registration.php?refid=152887" rel="external" target="_blank">Pepperjam</a>.</p>

    <div class="align-center">
      <a href="https://www.pepperjamnetwork.com/affiliate/registration.php?refid=152887" class="button button-large" target="_blank">Get Started</a>
    </div>

  </div>
</div>
