<div class="admin overview">
  <div class="wrapper">
    <h3>Admin Overview</h3>

    <div class="tabs">
      <div class="row">
        <div class="span6">
          <a class="tab orders" routerLink="/admin/orders">
            <div class="span3 col-a">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </div>
            <div class="span9 col-b">
              <h4>Orders</h4>
              <p>Manage orders</p>
            </div>
          </a>
        </div>

        <div class="span6">
          <a class="tab customers" routerLink="/admin/customers">
            <div class="span3 col-a">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="span9 col-b">
              <h4>Customers</h4>
              <p>Manage customers</p>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
