<div class="privacy">
	<h1>Privacy Policy</h1>
	<div class="wrapper">
		
		<p>Welcome to ThreadLab! This Privacy Policy describes how ThreadLab collects, uses, and shares the personal and other information that you (“you” or a “user”) make available to us on www.threadlab.com and its subdomains (collectively, the “Site”), related mobile applications, and other services (collectively, the "Services").  It also describes the choices available to you regarding our use and sharing of your personal information.  Capitalized terms used but not defined in this Privacy Policy have the meaning assigned to them in the Terms and Conditions of Use.</p>

		<p>This Privacy Policy applies solely to information that we collect through or in connection with our Services.  This policy does not apply to the practices of companies other than ThreadLab, or to individuals that ThreadLab does not employ.  We may update this Privacy Policy at any time by posting a new Privacy Policy to our Site at www.threadlab.com.  By using our Services, you consent to this Privacy Policy and to our separate <a ui-sref="index.termsOfUse">Terms and Conditions</a>.</p>

		<h2>What information do we collect?</h2>
		<p>Our primary purpose in collecting Personal Information (as defined below) is to provide you with a safe, smooth, efficient, and customized experience using our Services.  This allows us to provide services and features that most likely meet your needs, and to customize our Services to make your experience easier and more productive.  When such information can be used to personally identify you, it is treated as “Personal Information” under this Privacy Policy.  However, “Personal Information” does not include "aggregated" or “de-identified” information that cannot be used to personally identify you.</p>

		<p>We collect and store information, including Personal Information,  that you provide to us when you register on our Site, place an order for Products, subscribe to our newsletter, respond to a survey or fill out a form, or when using our Services.  When ordering or registering to become a member on our Site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number credit card information, and other Personal Information.  You may, however, visit our Site anonymously, without registering. You can choose not to provide us with certain information, but by doing so, you may not be able to take advantage of many of our features and functionality.</p>

		<p>We may also collect the following information about you:</p>
		<ul>
			<li>Unique identifiers associated with the ThreadLab Services, such as your user name, account number, and password</li>
			<li>Online tracking information, as described below under “Cookies”</li>
			<li>Additional Personal Information or other information that you agree to provide, including any information that we import from a Third-Party Platform.  Such information may include, but is not limited to, data from your accounts with third-party social networking sites</li>
			<li>Your login credentials for accounts with any Third-Party Platforms that you choose to associate with your ThreadLab account</li>
		</ul>

		<h3>Cookies</h3>
		<p>We use cookies for a variety of purposes, including keeping track of your preferences and profile information.  We also use cookies to collect general usage and volume statistical information that we cannot use to identify you.  [We and our partners also use cookies for online advertising purposes.]  Cookies are small files that are stored on your computer by your web browser.  A cookie allows the Services to recognize whether you have visited before and to store certain information about you and your online activities.  If you are concerned about having cookies on your computer, you can set your browser to refuse all cookies or to notify you when a cookie is being set, allowing you to decide whether to accept it.  You can also delete cookies from your computer.  However, if you choose to block or delete cookies, certain features of the Service may not operate correctly.</p>

		<p>We also use a third-party provider, initially Google Analytics, to place cookies on your computer to collect non-personally-identifiable information that is compiled into aggregated statistics about visitors to our Site and ways to improve our Services.  Please go to https://tools.google.com/dlpage/gaoptout?hl=en for information about how to opt out of online tracking by Google Analytics.</p>

		<p>ThreadLab automatically receives and records information on our server logs from your browser, including your IP address, cookies, and the pages you request. IP addresses are automatically reported by your browser each time you view a web page. Your IP address is stored by ThreadLab when you register with ThreadLab. IP addresses may be used for various research purposes, and/or delivering unique functionality to our service.</p>

		<h2>What do we use your information for?</h2>
		<p>We use Personal Information to deliver the Services to you, to improve the delivery of our Services, including advertising, and to develop analytics and aggregated data that allow us and our partners to improve our Services and correspond with you.</p>

		<p>Any of the information we collect from you may be used in one of the following ways:</p>
		<ul>
			<li>To personalize your experience (your information helps us to better respond to your individual needs)</li>
			<li>To improve our Site (we continually strive to improve our Site offerings based on the information and feedback we receive from you)</li>
			<li>To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)</li>
			<li>To process transactions.  Your Personal Information, whether public or private, will not be sold, or disclosed to any other company, without your consent, other than for the express purpose of delivering the purchased products or services that you requested, or as otherwise set forth in this Privacy Policy.</li>
			<li>To administer a contest, promotion, survey or other Site feature.</li>
			<li>To send periodic emails, including marketing and other communications about ThreadLab or third-party products and services.</li>
			<li>Conduct research and analysis and learn more about our users</li>
			<li>Create aggregated and de-identified data that we use for the purposes stated above and share with a variety of third parties</li>
		</ul>
		<p>The email address you provide for order processing, may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc.</p>
		<p>Note:  If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</p>

		<h2>How do we protect your information?</h2>
		<p>We implement a variety of security measures to maintain the safety of your Personal Information when you place an order or enter, submit, or access your Personal Information.</p>
		<p>[We offer the use of a secure server.  All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.]</p>
		<p>[After a transaction, your private financial information, including your credit cards, social security numbers will not be stored on our servers.] However, such information may be stored by our third party payment service in accordance with the Terms and Conditions.</p>

		<h2>Do we disclose any information to outside parties?</h2>
		<p>Except as described in this Privacy Policy,  we do not sell, trade, or otherwise transfer to outside parties your Personal Information. We may share your Personal Information with certain third parties who assist us in operating our Site, conducting our business, or servicing you, so long as those third parties agree to keep such Personal Information confidential.  We may also disclose your information when we believe release is appropriate to comply with applicable law, enforce our Site policies, or protect ours or others rights, property, or safety.  However, non-personally identifiable user information may be provided to third parties for marketing, advertising, or other uses.</p>

		<h2>Interactions with Other Websites and Services.</h2>
		<p>Occasionally, at our discretion, we may include or offer third party products or services on our Site.  We may also provide links to third party websites which are subject to separate and independent privacy policies.  We have no responsibility or liability for the content and activities of these linked sites.  Nonetheless, we seek to protect the integrity of our Site and welcome any feedback from our users about these third party websites.</p>

		<p>We may permit you to log in to our Services using sign-in services such as Facebook Connect, or other similar services.  These services will authenticate your identity and provide you the option to share certain personal information with us (such as your name and email address) to pre-populate our sign-up form.  Services like Facebook Connect also give you the option to post information about your activities on the ThreadLab Services to your profile page to share with others within your social network.</p>

		<p>If you log in with Facebook Connect or another similar third-party service, we will use the information we receive from such third party to populate your ThreadLab profile.</p>

		<h2>Communication with Other Users</h2>
		<p>We may enable you to create a profile and share your reviews and other information with other users.  Please note that if you choose to share your information with other users, we cannot control the actions of such users, and their use of your Personal Information and other information is not governed by this Privacy Policy.</p>

		<h2>Childrens Privacy </h2>
		<p>We do not knowingly collect information from children under 13 years of age.</p>

		<h2>Important Note for Visitors from Outside the United States</h2>
		<p>The ThreadLab Services are intended to be used by consumers in the United States.  Any Personal Information or other information that is collected through the Services is transferred to and processed in the United States for the purposes described above.  ThreadLab also may subcontract the processing of your data to, or otherwise share your data with, affiliates or third parties in the United States or other countries.  The data-protection laws in these countries may be different from, and less stringent than, those in your country of residence.  By using the Services, you expressly consent to such transfer and processing.</p>

		<h2>Choice and Opt-out</h2>
		<p>You may choose to stop receiving our newsletter or marketing emails by following the unsubscribe instructions included in these emails.  You also can contact us at service@mythreadlab.com.</p>

		<h2>Online Privacy Policy Only</h2>
		<p>This online privacy policy applies only to information collected through our Site and Services and not to information collected offline.</p>

		<h2>Terms and Conditions</h2>
		<p>Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our Site at http://www.mythreadlab.com/terms</p>

		<h2>Your Consent</h2>
		<p>By using our Site, you consent to our Privacy Policy.</p>

		<h2>Changes to our Privacy Policy</h2>
		<p>We may update this Privacy Policy to reflect changes to our information practices.  If we make a material change to our Privacy Policy that will retroactively apply to information that we have collected from you, we will notify you at the e-mail address specified in your account (if any) and by means of a notice posted on our Site. We encourage you to periodically review the Privacy Policy posted on our Site for the latest information about our privacy practices.  We will treat your continued use of our Site following such notice as your acceptance of the changes.  However, to the extent required by law, we will seek your consent prior to applying material changes to this Privacy Policy.  This policy was last modified on July 24, 2014</p>

		<h2>Contacting Us</h2>
		<p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>
		<p>service@mythreadlab.com</p>

	</div>
</div>
