<form #recurlyForm="ngForm" (ngSubmit)="onFormSubmit(recurlyForm, $event)" class="billing-info-form">
  <div class="row">
    <div class="field form-group span6">
      <label>First Name</label>
      <input type="text" data-recurly="first_name" class="form-control" name="first_name" [(ngModel)]="data['first_name']" required>
    </div>
    <div class="field form-group span6">
      <label>Last Name</label>
      <input type="text" data-recurly="last_name" class="form-control" name="last_name" [(ngModel)]="data['last_name']" required>
    </div>
  </div>

  <div class="field form-group">
    <label>Card</label>
    <div data-recurly="card"></div>
  </div>

  <input type="hidden" name="recurly-token" data-recurly="token"> 

  <div class="actions">
    <button 
      type="submit" 
      class="button button-dark"
      [class.loading]="loading"
      [disabled]="loading || disabled"
    >
      Add Payment Method
    </button>

    <button 
      type="button" 
      class="button button-default"
      (click)="onCancel()"
      *ngIf="!newCustomer"
    >
      Cancel
    </button>
  </div>
</form>
