<div class="module steps parallax">
  <div class="wrapper">
    <h2>How it Works</h2>
    
      <div class="step one clear">
        <div class="span6">
          <header>
            <div class="number">1</div>
            <h3>Get Started Easily</h3>
          </header>
          <img class="mobile" src="{{ assetUrl + '/assets/images/screens/budget.png' }}">
          <p>Tell us your sizes, style preferences and budget.</p>
          <p>To place an order, select a box size and the kind of clothes you're looking for.</p>
        </div>
        <div class="span6">
          <img class="" src="{{ assetUrl + '/assets/images/screens/budget.png' }}">
        </div>
      </div>
      <div class="step two clear">
        <div class="span6">
           <img class="" src="{{ assetUrl + '/assets/images/screens/order-preview.png' }}">
        </div>
        <div class="span6">
          <header>
            <div class="number">2</div>
            <h3>See a Preview</h3>
          </header>
          <img class="mobile" src="{{ assetUrl + '/assets/images/screens/order-preview.png' }}">
          <p>Get a handpicked selection of items, personalized to fit you and your budget.</p>
          <p>Plus, you can preview and edit your order before we ship it.</p>
        </div>
      </div>
      <div class="step three clear">
        <div class="span6">
          <header>
            <div class="number">3</div>
            <h3>Relax and Enjoy</h3>
          </header>
          <img class="mobile" src="{{ assetUrl + '/assets/images/brandingPhotos/box-349.png' }}">
          <p>Your clothes come to you. No malls, no endless searches, no hassles.</p>
          <p>Plus, you're covered with 365 Days to Return and Free Shipping both ways.</p>
        </div>
        <div class="span6">
          <img class="" src="{{ assetUrl + '/assets/images/brandingPhotos/box-349.png' }}">
        </div>
      </div>
    
      <app-get-started-cta [user]="user"></app-get-started-cta>
  </div>
</div>
