#content {
  .place-order {
    .row-separator {
      @extend %row-separator-fullbleed;
    }

    &.guest {
      .mask {
        display: block;
      }
    }

    &.guest-checkout {
      .mask {
        display: none;
      }
    }

    .chrome-ios & {
      .row-separator {
        &.social {
          display: none;
        }

        &.email {
          .content {
            padding-top: 10px;

            &::before {
              content: '';
            }
          }
        }
      }
    }

    .customer {
      text-align: left;

      .span6 {
        @extend %reset;
      }

      .top {
        margin: 0 0 $gutter;
        padding: $gutter 0;
      }

      .guest {
        text-align: right;

        .button {
          &.alt {
            font-size: 10px;
          }

          .fa {
            margin: 0 3px 0 0;
          }
        }
      }

      .lead {
        display: none;
      }

      .social {
        .content {
          padding-top: 0;
        }
      }

      .email {
        .content {
          padding-bottom: 0;
          padding-top: 0;
        }
      }

      .msg {
        display: none;
      }

      .legal {
        margin: 0 0 $gutter;
        text-align: left;
      }
    }

    .order-type {
      .toggle-box {
        background: $white-two;

        @include media($tablet) {
          margin-bottom: 10px;
        }

        &:hover {
          border-color: $white-two;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .content {
          min-height: 80px;

          @include media($tablet) {
            min-height: 0;
          }
        }

        .title {
          font-size: 20px;
          margin: 0 0 5px;
          padding: $gutter 0 0;

          @include media($tablet) {
            font-size: 14px;
            padding-top: 0;
          }
        }

        .fa {
          font-size: 20px;
          position: relative;
        }

        .check-icon {
          bottom: 0;
          display: none;
          left: 1.5px;
          right: 0;
        }

        p {
          font-size: 14px;

          @include media($tablet) {
            font-size: 12px;
            margin-bottom: 10px;
          }
        }

        &.checked {
          border-color: $white-two;

          .check-icon {
            display: inline-block;
          }

          .uncheck-icon {
            display: none;
          }

          &:hover {
            border-color: $white-two;
          }
        }
      }
    }

    .product-needs {
      margin: 0 0 $gutter;

      ul {
        display: inline-block;
        margin: 0 0 10px;
      }
      
      img {
        margin: 0 0 $gutter;
        max-width: 50%;

        @include media($tablet) {
          margin: 0 auto $gutter;
          max-width: 85%;
        } 
      }

      p {
        display: inline-block;
        margin: 0 0 10px;
      }
    }

    .request-preview {
      margin-top: $gutter;

      h4 {
        margin: 0 0 10px;
      }

      .field {
        margin-bottom: 10px;
        padding: 0;

        span {
          text-transform: none;
        }
      }

      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .preview {
        display: block;
        font-size: 12px;
        text-align: center;

        img {
          border: 1px solid $white-two;
          border-radius: 4px;
          margin: 0 0 5px;

          @include media($tablet) {
            margin: $gutter auto 5px;
            max-width: 155px;
          }
        }
      }
    }

    .shopping-cart {
      footer {
        strong {
          @extend %neuton;
          color: $black;
        }
      }
    }

    #col-a {
      padding-right: $gutter;
      position: relative;

      @include media($tablet) {
        padding-right: 0;
      }

      .cart {
        @include media($tablet) {
          display: none;
        }
      }
    }

    #col-b {
      #sidebar {
        position: relative;

        @include media($tablet) {
          position: static;
        }
      }

      .promo-code-form {
        @include media($desktop) {
          margin: 0;

          .content {
            float: none;
          }

          .col-a {
            @include span-columns(8);
          }
          
          .col-b {
            @include span-columns(4 of 12 last);
          }
        }

        .button {
          margin-top: -2px;
        }
      }
    }

    .cart {
      border: 1px solid $white-two;
      border-radius: 4px;
      margin: $gutter 0;
      position: relative;

      h4 {
        margin: 0 0 10px;
      }

      .cart-content {
        padding: $gutter;
      }

      .actions {
        background: $light-grey;
        text-align: center;

        .button {
          //display: none;

          &.active {
            display: inline-block;
          }
        }
      }

      .order-pricing {
        text-align: left;

        p {
          font-size: 14px;
        }
      }

      p {
        margin: 0;
      }
    }

    .order-pricing {
      text-align: right;

      @include media($tablet) {
        text-align: left;
      }

      .span6 {
        @include media($tablet) {
          @include span-columns(6);
        }
      }

      .span6 {
        @include media($tablet) {
          @include span-columns(6);
        }
      }

      .price-shipped,
      .order-credit-amounts {
        display: none;
      }

      .grand-total {
        .price-emphasized {
          font-size: 16px;
        }
      }
    }

    .gift-card {
      .price-shipped {
        display: block;
      }
    }

    .actions {
      .submit {
        .button {
          margin-bottom: 0;
          margin-right: 0;
        }
      }
    }

    .section {
      position: relative;

      .loader {
        position: absolute;
        top: 40px;
      }

      &.review {
        h3 {
          margin-bottom: 20px;
        }

        .category {
          border: 0;
          margin-bottom: 0;

          &.empty {
            display: none;
          }

          h3 {
            font-size: 14px;
          }

          .category-title {
            display: none;
          }
        }

        .gift-card {
          img {
            @include media($tablet) {
              margin: 0 auto $gutter;
            }
          }
        }
      }

      &.credit-card {
        .fa-lock {
          margin-right: 3px;
        }

        .default {
          margin-top: 0;

          @include media($desktop) {
            margin-top: 47px;
          }
        }
      }

      &.shipping {
        .msg {
          margin-bottom: 0;
        }
      }
    }

    .order-item {
      border-bottom: 1px solid $white-two;

      > div {
        padding: 10px 0;
      }

      [data-lightbox] {
        cursor: default;
      }

      .zoom {
        display: none;
      }

      &.reject,
      &.return {
        display: none;
      }

      .pricing {
        margin: 0;
        text-align: right;

        @include media($tablet) {
          text-align: left;
        }
      }

      .photo {
        img {
          max-width: 55px;

          &:hover {
            cursor: default;
            opacity: 1;
          }
        }
      }

      .size,
      .color,
      .description {
        display: none;
      }
    }

    .csspinner {
      bottom: 100px;
      top: auto;
    }

    .addressee-firstname,
    .addressee-lastname,
    .addressee-email,
    .field.type {
      display: none;
    }

    .pricing-details {
      margin: 0 0 20px;

      .prices {
        text-align: right;
      }

      .price-retail {
        margin-bottom: 0;
      }

      .price-final {
        font-size: 1.3em;
        margin-top: 0;
      }
    }

    .errors {
      margin-top: 20px;
    }

    .shipping-form {
      .checkmark,
      .loader-status {
        @include media($desktop) {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
}


.place-order-flow {
  overflow-x: hidden;

  h1 {
    display: none;
  }

  .wrapper {
    @include media($mobile) {
      padding-top: 10px;
    }
  }

  .order-categories {
    .toggle-button-list {
      min-height: 334px;
    }
  }

  .login-msg {
    padding-top: 0;
  }

  .start {
    h2 {
      text-align: center;
    }

    .col-a {
      .social {
        .content {
          padding-top: 20px;

          @include media($mobile) {
            padding-top: 0;
          }
        }
      }
    }

    .col-b {
      border-left: 1px solid $white-two;
      min-height: 480px;
      padding-top: 150px;
      text-align: center;

      @include media($tablet) {
        border-left: 0;
        border-top: 1px solid $white-two;
        min-height: 0;
        padding-top: $gutter;
      }
    }
  }
}

.order-boxes {
  text-align: center;

  @include media($tablet) {
    background: none;
  }

  .top {
    margin-bottom: $gutter;
  }

  .boxes {
    ul {
      @extend %reset;
    }

    .span4 {
      margin: 0;
      width: 33.33%;

      @include media($tablet) {
        width: auto;
      }

      &:last-child {
        @include media($tablet) {
          margin-bottom: 0;
        }
      }
    }
  }

  .box-slider {
    margin: 0 0 $gutter;

    rzslider {
      z-index: 10;
    }

    .note {
      bottom: 30px;
      left: 0;
      position: absolute;
      width: 100%;

      @include media($tablet) {
        bottom: 20px;
      }

      small {
        @include media($tablet) {
          font-size: 10px;
        }
      }
    }

    .box {
      background-color: transparent;

      &:hover {
        border: 0;
      }
    }
    
    .options {
      height: 350px;
      position: relative;

      @include media($tablet) {
        height: 300px;
        margin-top: -40px;
      }

      .option {
        left: 0;
        opacity: 0;
        position: absolute;
        text-align: center;
        top: 0;
        transition: opacity .3s ease-out;
        width: 100%;

        &.active {
          opacity: 1;
          z-index: 5;
        }
      }

      .box {
        @include centered(700px);
        margin: 0 auto;
        position: relative;

        @include media($desktop) {
          left: 95px;
        } 

        @include media($tablet) {
          display: block;
        }

        h3 {
          margin-bottom: 10px;

          @include media($tablet) {
            margin-bottom: 0;
          }
        }

        .star {
          @extend %neuton-bold;
          color: $squash;
          margin-top: 15px;
          text-transform: uppercase;

          @include media($tablet) {
            font-size: .9em;
            margin-top: 4px;
          }

          .fa {
            margin: 0 5px 0 0;
          }
        }

        &.best-seller {
          h3 {
            margin-top: -2px;
          }

          img {
            margin: 0 auto $gutter;
          }
        }
      }

      img {
        height: auto;
        margin: 0 auto;

        @include media($tablet) {
          margin-bottom: $gutter;
          max-width: 190px;
        }
      }

      .description {
        padding: 95px 0 0 10px;
        text-align: left;
        text-transform: none;

        @include media($tablet) {
          padding: 0;
          text-align: center;
        }

        h3 {
          @extend %headline-delta;
        }

        .amount {
          font-size: $font-normal;
        }

        em {
          color: $white-two;
          //font-family: georgia;
        }
      }
    }

    .price {
      text-align: center;
    }

    .rz-bar {
      background: $white-two;
      border-radius: 4px;
    }

    .rz-pointer {
      background: $light-navy-blue;

      &.rz-active {
        &::after {
          background: $black;
        }
      }
    }

    .rz-ticks {
      .tick {
        background: $white-two;
      }
    }

    .rz-bubble {
      color: $black;
      font-size: 24px;

      @include media($tablet) {
        font-size: 21px;
      }

      &.rz-limit {
        font-size: $font-small;
      }
    }
  }

  .order-box {
    color: $white-two;
    cursor: pointer;
    position: relative;

    @include media($tablet) {
      padding: 0 $gutter;
    }

    .photo {
      margin: -40px 0 0;

      @include media($tablet) {
        margin-top: 0;
      }

      img {
        margin: 0 auto;
        //max-height: 300px;
        position: relative;

        @include media($tablet) {
          max-height: 200px;
        }
      }
    }

    .info {
      padding: 0 0 100px;

      @include media($tablet) {
        padding-bottom: $gutter * 2;
      }
    }

    .button {
      margin: 0 0 $gutter;
    }

    p {
      margin: 0;
    }

    .price {
      @extend %montserrat-light;
      color: $squash;
      font-size: 48px;
      margin: 0 0 5px;
    }

    .value {
      span {
        @extend %neuton-bold;
      }
    }

    .title {
      margin: 0;
    }

    &.best-seller {
      /*
      .price {
        font-size: 24px;
      }

      .title {
        font-size: 34px;
      }

      .button {
        font-size: 16px;
        margin-bottom: $gutter / 2;
      } */
    }

    .items {
      color: $black;
      font-size: 18px;
      margin: 0 0 $gutter;
    }

    .cert {
      .fa {
        color: $squash;
        font-size: 28px;
      }

      span {
        color: $greyish-brown;
        position: relative;
        text-transform: uppercase;
        top: -2px;
      }
    }
  }

  .box {
    background-color: $white-two;
    color: $white-two;
    margin-top: 28px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: auto;

    @include media($mobile) {
      padding-bottom: 0;
    }

    @include media($tablet) {
      display: block;
      height: auto;
    }

    @include media($tablet) {
      margin: 0 0 $gutter;
    }

    &:hover {
      border: 2px solid darken($white-two, 30%);
    }

    &.checked {
      background-color: darken($white-two, 10%);
      border: 2px solid darken($white-two, 30%);
    }

    img {
      //height: 180px;
      margin: 0 auto $gutter;

      @include media($tablet) {
        height: 150px;
      }
    }

    .price {
      @extend %neuton-bold;
      font-size: 1.4em;
      margin: 0 0 10px;
    }

    &.best-seller {
      font-size: 1.3em;
      margin-top: 10px;

      @include media($tablet) {
        font-size: 1em;
      }

      img {
        margin-bottom: $gutter + 10;
      }

      .price {
        margin-bottom: 15px;
      }
    }
  }
}
