<form class=""
  [formGroup]="couponForm" 
  (ngSubmit)="onSubmit(couponForm.value)" 
  novalidate>
  <div class="row">
    <div class="field form-group col-a">
      <input
        type="text" 
        class="form-control"
        name="coupon_code"
        placeholder=""
        formControlName="coupon_code"
      >
    </div>
    <div class="col-b">
      <button class="button button-orange"
        [class.loading]="isDisabled"
        [disabled]="!couponForm.valid || isDisabled"
      >
        Redeem Coupon
      </button>
    </div>
  </div>
</form>
